/*Attributes*/
h1, h2, h3, h4 {
  /* color: #FA884E; */
  color: #8E44AD;
}

p, h5, h6 {
  /* color: #FA884E; */
/* Hector color change */
/* color: #FAF7FC; */

color: black;
  /* color: #8E44AD; */
}

a {
  color: #2c9bd6;
}

body {
  animation: transitionIn 0.75s;
}
footer {
  text-align: center;
  margin-top: 60px;
}


/* Transition Trial Start*/


@keyframes transitionIn {

  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Transition Trial End*/


.body_stuff {
  /* background-color: black; */
  background-color: #76D7C4;
  padding: 10px;
}

/* classes*/
.logo {
  text-align: center;
}

.home_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  margin: 50px;
  align-items: center; */
}

.footer_links {
  margin-top: 30px;
}

.tagline {
  text-align: center;
}

.sterbo_mark {
  width: 20%;
  height: auto;
  margin-left: 50px;
}

.left_blank {
  position: relative;
  float: left;
  /* margin: auto;
  right: 25%; */
  width: 700px;
  height: 500px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.action_call {
  position: relative;
  text-align: center;
}

.quote_text {
  text-align: center;
  margin-top: 30px;
}

.bio_image {
  position: relative;
  width: 400px;
  height: auto;
  float: left;
  margin: 10px 50px 50px 10px;
}
.bio_text {
  text-align: left;
  margin: 10px 50px 100px 50px;
}
.about_footer_text {
  position: relative;
  text-align: center;
  margin-top: 100px;
}

.capture_body {
text-align: center;
}

.capture_text {
  text-align: center;
}

.music_all {
  text-align: center;
}

.music_ep {
  position: relative;
  top: 100px;
  /* margin-right: 100px; */
}

.music_sonic {
  position: relative;
  top: 50px;
  /* margin-right: 200px; */
}

.music_remix {
  align-items: center;
  position: relative;
  /* margin-left: 200px; */
}

.music_film {
  position: relative;
  top: 100px;
  /* margin-right: 100px; */
}

.frames {
  padding: 10px;
  border: 50px;
}

.banana_screens {
  width: 30%;
  height: 30%;
}

/* .roli_window {
  width: 75%;
  height: 75%;
} */

.gray_page {
  width: 30%;
  height: 30%;
}

/*Bootstrap classes*/
.btn {
  align-items: center;
  right: 50%;
}

.btn-outline-warning {
  /* color: #FA884E; */
  color: #8E44AD;
  /* border-color: #FA884E; */
  border-color: #8E44AD;
  margin: 50px;
}

.btn-outline-warning:hover {
  background-color: #2c9bd6;
  border-color: #2c9bd6;
}

.fab {
  margin: 50px;
  align-items: center;
}

.dropdown-item {
  /* background-color: #FA884E; */
}


.dev_text{
  padding-left: 150px;
  padding-right: 150px
}

.card-img-top {
  text-align: center;
}

.card {
  background-color: inherit;
  transition: background-color 1.0s;
  display: flex;
}

.card-deck {
  margin-left: 0;
  margin-right: 0;
}

.card-header {
  text-align: center;
}

.card-roli {
  text-align: center;
}

.card-banana {
  text-align: center;
}

.card-body {
  text-align: center;
}

.card :hover {
  background-color: #FAC3A7;
  text-decoration: none;
}
