/*Attributes*/
h1, h2, h3, h4, h5, h6 {
  color: #FA884E;
}

p {
  color: #FA884E;
}

a {
  color: #2c9bd6;
}

footer {
  text-align: center;
  margin-top: 75px;
}

.body_stuff {
  background-color: black;
}

/* classes*/
.logo {
  text-align: center;
}

.home_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  margin: 50px;
  align-items: center; */
}

.tagline {
  text-align: center;
}

.sterbo_mark {
  max-width: 100%;
  height: auto;
  margin-left: 50px;
}

.left_blank {
  position: relative;
  float: left;
  /* margin: auto;
  right: 25%; */
  width: 700px;
  height: 500px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.action_call {
  position: relative;
  text-align: center;
}

.quote_text {
  text-align: center;
  margin-top: 20px;
}

.music_all {
  text-align: center;
}

.music_ep {
  position: relative;
  top: 100px;
  /* margin-right: 100px; */
}

.music_sonic {
  position: relative;
  top: 50px;
  /* margin-right: 200px; */
}

.music_remix {
  align-items: center;
  position: relative;
  top: 0px;
  /* margin-left: 200px; */
}

.music_film {
  position: relative;
  top: 100px;
  /* margin-right: 100px; */
}

.frames {
  padding: 10px;
  border: 50px;
}

/*Bootstrap classes*/
.btn {
  align-items: center;
  right: 50%;
}

.btn-outline-warning {
  color: #FA884E;
  border-color: #FA884E;
  margin: 50px;
}

.btn-outline-warning:hover {
  background-color: #2c9bd6;
  border-color: #2c9bd6;
}

.fab {
  margin: 50px;
  align-items: center;
}

.dropdown-item {
  /* background-color: #FA884E; */
}

.card-img-top {
  text-align: center;
}

.card {
  background-color: inherit;
  transition: background-color 1.0s;
}

.card :hover {
  background-color: #FAC3A7;
  text-decoration: none;
}
